body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #1e1e1e;
 }

 .container {
     max-width: 960px;
     margin: 0 auto;
     padding: 40px;
     background-color: #333;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
 }

 h1 {
     font-size: 32px;
     text-align: center;
     margin-bottom: 20px;
     color: #c5fb05;
 }

 p {
     font-size: 18px;
     line-height: 1.6;
     margin-bottom: 20px;
     color: cyan;
 }
 h3{
    color:white;
 }

 .quote {
     font-style: italic;
     text-align: center;
     margin-bottom: 40px;
     color: #ffffff;
 }

 .image {
     text-align: center;
     margin-bottom: 40px;
 }

 .image img {
     width: 250px;
     height: 250px;
     object-fit: cover;
     border-radius: 50%;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

 .facts {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin-bottom: 40px;
 }

 .fact {
     flex: 1;
     text-align: center;
     margin: 10px;
     padding: 20px;
     background-color: rgb(25, 229, 25);
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(174, 174, 244, 0.518);
 }
.full-form{
    width: 300px;
}
 .fact h3 {
     margin-top: 0;
     font-size: 24px;
     color: #fff;
 }

 .fact p {
     margin-bottom: 0;
     color: #ca0909;
 }
 .first-para{
  padding: 20px;
  border: 2px solid white;
  
 }
 .second-para{
    padding: 20px;
        border: 2px solid white;
 }

 a {
     color: #162ee0;
 }

 a:hover {
     text-decoration: underline;
 }